* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 3% 0%;
  height: 100vh;
  background: linear-gradient(#36d1dc, #5b86e5);
  background-size: 200% 200%;
  position: relative;
  animation: change 8s ease-in-out infinite;
}

.header {
    padding-bottom: 3%;
}

.header h2 {
    font-size: 4.5em;
    font-family: 'Mansalva', cursive;
    text-decoration: underline;
}
.main {
    margin: 0% 5% 0% 5% ;
}

.main p {
    font-weight: 900;
    padding: 1%;
    font-family: 'Amatic SC', cursive;
    color: #272e2e;
    font-size: 1.5em;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: linear-gradient(-45deg, #36d1dc, #5b86e5);
    font-weight: 900;
    width: 20%;
    border: 2px solid #fff !important;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-family: 'Amatic SC', cursive;
}

.button:hover {
    color: #ffffff !important;
    background: pink;
    transition: all 0.4s ease 0s;
}

#button {
    padding: 8%;
}

@media only screen and (max-width: 414px){
    .button {
        width: 25%;
    } 
    .main p {
        font-size:1.3em;
    }
}

@media only screen and (min-width: 1200px){
    .button {
        width: 10%;
    }
    .main p {
        padding: 0%;
        font-size: 1.8em;
    }
    #button {
        padding: 4%;
    }
}
