<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='../static/analyze.css'>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>CheckYourCompany</title>
</head>
<body>
    <div class='wrapper'>
        <div class='main'>
            <form action='/read' method='POST' enctype="multipart/form-data" style='padding: 3% 0 0%'>
                <input type='file' name='data_file' id='file'>
                <label for='file' class='button'><span>Upload .csv</span></label>
                <div>
                    <input class='button1' type="submit" value='Calculate'>
                </div> 
            <!--<p id='errorMsg' class='orange' style='padding: 3%;'>{{error}}</p>-->
            </form>            
        </div>
    </div>
</body>
</html>