<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='../static/end.css'>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>CheckYourCompany</title>
</head>
<body>
    <div class='wrapper'>
        <div class='main'>
            <p id='demo' style='color:green'>0%</p>
            <div id="myBar" class="w3-container w3-green" style="height:24px;width:0%;
            border:2px solid white;
               border-radius: 50px; "></div>
            <p id='demo1' style='color:gray'>0%</p>
            <div id="myBar1" class="w3-container w3-dark-gray" style="height:24px;width:0%;
            border:2px solid white;
               border-radius: 50px; "></div>
            <p id='demo2' style='color:red'>0%</p>
            <div id="myBar2" class="w3-container w3-red" style="height:24px;width:0%;border:2px solid white;
               border-radius: 50px; "></div>
            <div style='padding:3%'>
                <button class='button' onclick='moveAll()'>Check</button>
            </div>
        </div>
    </div>
</body>
</html>
<script>
function move(id, id2, data) {

  var elem = document.getElementById(id);   
  var elem2 = document.getElementById(id2);   
  elem2.style.Color = "black"
  var width = 0;
  var id = setInterval(frame, 25);
  console.log(elem)



  function frame() {
      if (width >= data) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      document.getElementById(id2).innerHTML = width * 1  + '%';
    }
  }
}

async function moveAll() {
    var ids = ["myBar", "myBar1", "myBar2"];
    var ids2 = ["demo", "demo1", "demo2"];
    var arrayLength = ids.length;
    var data = [{{pos}}, {{neu}}, {{neg}}]

    for (var i=0;i<arrayLength;i++){
        move(ids[i], ids2[i], data[i]);
        console.log(data[i]);
        await sleep(1200);
    }
}

function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}
</script>

</body>
</html>

