<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='../static/end_csv.css'>  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva|Modak&display=swap" rel="stylesheet"> 
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>CheckYourCompany</title>
</head>
<body>
    <div class='wrapper'>
        <div class='header'>
            <h2 style='color:white'>Score</h2>
        </div>
        <div class='main'>
            <p id='demo' style='color:green; padding-bottom:2%;'>0%</p>
            <div id="myBar" class="w3-container w3-green" style="height:24px;width:0%;
            border:2px solid white;
               border-radius: 50px; "></div>
            <p id='demo1' style='color:gray; padding-bottom:2%;'>0%</p>
            <div id="myBar1" class="w3-container w3-dark-gray" style="height:24px;width:0%;
            border:2px solid white;
               border-radius: 50px; "></div>
            <p id='demo2' style='color:red; padding-bottom:2%;'>0%</p>
            <div id="myBar2" class="w3-container w3-red" style="height:24px;width:0%;border:2px solid white;
               border-radius: 50px; "></div>
            <div id='button'>
                <button class='button' onclick='moveAll()'>Check</button>
            </div>
            <div id='verdict' style='visibility:hidden;'>
                {% if pos > neg %}
                    <p>{{pos}}% opinions about Your company are <stan style='color:green'>POSITIVE</stan>!</p> 
                {% elif neg > neu %} 
                    <p>{{neg}}% opinions about Your company are <stan style='color:red'>NEGATIVE</stan>!</p> 
                {% else %}
                    <p>{{neu}}% opinions about Your company are <stan style='color:gray'>NEUTRAL</stan>!</p> 
                {% endif %}
            </div>
        </div>          
    </div>
</body>
</html>
<script>
function move(id, id2, data) {

  var elem = document.getElementById(id);   
  var elem2 = document.getElementById(id2);   
  elem2.style.Color = "black"
  var width = 0;
  var id = setInterval(frame, 30);

  function frame() {
      if (width >= data) {
      clearInterval(id);
    } else {
      width++; 
      elem.style.width = width + '%'; 
      document.getElementById(id2).innerHTML = width * 1  + '%';
    }
  }
}

async function moveAll() {
    var ids = ["myBar", "myBar1", "myBar2"];
    var ids2 = ["demo", "demo1", "demo2"];
    var arrayLength = ids.length;
    var data = [{{pos}}, {{neu}}, {{neg}}]

    for (var i=0;i<arrayLength;i++){
        move(ids[i], ids2[i], data[i]);
        if (data[i] > 50) {
            await sleep(2000);
        } else {
            await sleep(1000);
        }
    }
    var verdict = document.getElementById('verdict');
    verdict.style.visibility = 'visible';

    jQuery(function($){
	$('#result').load('analyze.html #loader');
    var loader = document.getElementById('result');
    console.log(loader);
    });
}



function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}
</script>

</body>
</html>

