<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href='../static/index.css'> 
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Bitter|Oswald:700&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Mansalva|Pacifico&display=swap" rel="stylesheet"> 
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <title>CheckYourCompany</title>
  
  <script>
    function raiseAlert(exp='') {
      if (exp){
        alert(exp);
      }
    }
  </script>
</head>
<body>
  <div class='wrapper'>
    <div class='header'>
      <h2>Check Your Company on Twitter</h2>
      <p>
        As we all now internet nowadays is a powerful medium. 
        So it is crucial to have a good opinions about Your comapny 
        on social media for example. If You want to find out whenever 
        people opinions about Your company on Twitter are positive, 
        negative or neutral you can use this site.
      </p> 
      <h3>Just drop Your csv file</h3>
      <i style='font-size:24px; padding:1% 0 3% 0;' class='far'>&#xf358;</i> 
      
    </div> 
    <div class='main'>
      <form action='/read' method='POST' enctype="multipart/form-data">
        <input type='file' name='data_file' id='file'>
        <label for='file' class='btn-1'>Upload .csv</label>
        <input type="submit" value='Calculate' onclick=raiseAlert()>
      </form>
      <h2 style='padding: 5% 0 1%;'>Test Analyzer</h2>
      <h2>{{answer}}</h2>
      <p style='padding: 2%;'>
        You can simply try model on a single sentence and check
        Or how accurate it is.
      </p>
      <input type='text' class='inpt-box' placeholder="Enter Sentence" id='myInput' style='text-align: center;'>
    </div>
  </div>
</body>
</script>
</html>

