<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href='../static/index.css'> 
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet"> 
  <title>CheckYourCompany</title>
</head>
<body>
  <div class='wrapper'>
    <div class='header'>
    <h2>Check Your Company on Twitter</h2>
    </div>
    <input type='button' value='tweet' onclick='console.log("clicked")'>
  </div>
</body>
</html>
